@model Cms.data.Entities.Post

<div class="container mt-4">
    <h2 class="fw-bold text-success">THÊM BÀI VIẾT MỚI</h2>

    <div class="card shadow">
        <div class="card-body">
            <form asp-action="Create" method="post">

                <div asp-validation-summary="All" class="text-danger mb-3 fw-bold"></div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Tiêu đề</label>
                    <input asp-for="Title" class="form-control" placeholder="Nhập tiêu đề bài viết..." />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Nội dung</label>
                    <textarea asp-for="Content" rows="6" class="form-control" placeholder="Nhập nội dung chi tiết bài viết..."></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Ảnh URL</label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Ví dụ: /img/dotnet.jpg (Có thể để trống)" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Category</label>
                    <select asp-for="CategoryId" class="form-select">
                        <option value="">-- Chọn danh mục chuyên mục --</option>
                        @foreach (var c in ViewBag.Categories)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-success fw-bold">
                        Lưu Post
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        Quay lại
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>