@model Cms.data.Entities.Post

<div class="container mt-4">
    <h2 class="fw-bold text-warning">CHỈNH SỬA BÀI VIẾT</h2>

    <div class="card shadow">
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedDate" />

                <div asp-validation-summary="All" class="text-danger mb-3 fw-bold"></div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Tiêu đề</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Nội dung</label>
                    <textarea asp-for="Content" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Image URL</label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Category</label>
                    <select asp-for="CategoryId" class="form-select">
                        @foreach (var c in ViewBag.Categories)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-warning fw-bold text-white">
                        Update Post
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        Quay lại
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>